# Notes

- Some ids are missing!

In [36]:
import pandas as pd
import numpy as np
import os
from numpy import random as nprandom
import random
import time

draws = pd.read_csv('../data/olesoiklhrwseis.csv')
draws = draws.rename(columns={'Αριθμός Κλήρωσης':'id', 'Ημ/νία Κλήρωσης':'date',
                             'Ώρα Κλήρωσης':'time', '1ος ':'WinNo1', '2ος ':'WinNo2', '3ος ':'WinNo3', '4ος ':'WinNo4',
                             '5ος ':'WinNo5', '6ος ':'WinNo6', '7ος ':'WinNo7', '8ος ':'WinNo8', '9ος ':'WinNo9', 
                              '10ος ':'WinNo10', '11ος ':'WinNo11', '12ος ':'WinNo12', '13ος ':'WinNo13', '14ος ':'WinNo14',
                              '15ος ':'WinNo15', '16ος ':'WinNo16', '17ος ':'WinNo17', '18ος ':'WinNo18', '19ος ':'WinNo19',
                              '20ος ':'WinNo20'})

   id       date                time  Hour  Minutes  Day  Month  Year
0   1 2003-03-11 2020-10-09 12:30:00    12       30   11      3  2003
1   2 2003-03-11 2020-10-09 13:00:00    13        0   11      3  2003
2   3 2003-03-11 2020-10-09 13:30:00    13       30   11      3  2003
3   4 2003-03-11 2020-10-09 19:30:00    19       30   11      3  2003
4   5 2003-03-11 2020-10-09 20:00:00    20        0   11      3  2003

# Targets

In [45]:
# Sort winning numbers (asc)

winCols = ['WinNo1', 'WinNo2', 'WinNo3', 'WinNo4', 'WinNo5', 'WinNo6', 'WinNo7', 'WinNo8', 'WinNo9', 'WinNo10',
             'WinNo11', 'WinNo12', 'WinNo13', 'WinNo14', 'WinNo15', 'WinNo16', 'WinNo17', 'WinNo18', 'WinNo19',
             'WinNo20']

winNumbers = draws[winCols].values
winNumbers.sort(axis=1) 
winNumbersDf = pd.DataFrame(winNumbers, draws.index, winCols)

# Rearrange Columns so id and winning Numbers can be seen as first columns

for idx, winColName in enumerate(winCols):
    winCol = winNumbersDf.pop(winColName)
    winNumbersDf.insert(idx, winColName, winCol)

winNumbersDf.head()

,WinNo1,WinNo2,WinNo3,WinNo4,WinNo5,WinNo6,WinNo7,WinNo8,WinNo9,WinNo10,WinNo11,WinNo12,WinNo13,WinNo14,WinNo15,WinNo16,WinNo17,WinNo18,WinNo19,WinNo20
0,2,5,7,8,22,33,38,44,46,52,54,55,56,58,62,63,66,72,74,78
1,1,9,11,14,33,37,41,42,43,44,45,51,55,60,65,71,72,73,77,80
2,1,2,5,8,13,16,19,21,34,38,45,51,53,54,56,57,62,64,66,73
3,1,3,6,12,17,24,25,26,40,43,54,56,57,59,61,63,67,70,79,80
4,6,7,8,21,30,32,35,37,39,40,43,46,48,57,58,61,64,66,71,73

In [ ]:

# Extract time features

datetimedf = draws[['id', 'date', 'time']].copy()
del draws


datetimedf['date'] = pd.to_datetime(datetimedf['date'])
datetimedf['time'] = pd.to_datetime(datetimedf['time'])
datetimedf['Hour'] = datetimedf['time'].dt.hour
datetimedf['Minutes'] = datetimedf['time'].dt.minute
datetimedf['Day'] = datetimedf['date'].dt.day
datetimedf['Month'] = datetimedf['date'].dt.month
datetimedf['Year'] = datetimedf['date'].dt.year
#datetimedf = datetimedf.drop(columns=['date', 'time'])
datetimedf.head()

In [31]:
outputPath = os.path.join('..', 'features')

daysofweek = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
monthsofyear = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August',
                'September', 'October', 'November', 'December']

# Prepare dictionaries

sinDoMDict28 = {}
for i in range(28):
    sinDoMDict28[i] = np.sin((2*np.pi*i)/28)
cosDoMDict28 = {}
for i in range(28):
    cosDoMDict28[i] = np.cos((2*np.pi*i)/28)
sinDoMDict30 = {}
for i in range(30):
    sinDoMDict30[i] = np.sin((2*np.pi*i)/30)
cosDoMDict30 = {}
for i in range(30):
    cosDoMDict30[i] = np.cos((2*np.pi*i)/30)
sinDoMDict31 = {}
for i in range(28):
    sinDoMDict31[i] = np.sin((2*np.pi*i)/31)
cosDoMDict31 = {}
for i in range(28):
    cosDoMDict31[i] = np.cos((2*np.pi*i)/31)

sindowDict = {}
for idx, day in enumerate(daysofweek):
    sindowDict[day]=np.sin((2*np.pi*idx)/len(daysofweek))

cosdowDict = {}
for idx, day in enumerate(daysofweek):
    cosdowDict[day]=np.cos((2*np.pi*idx)/len(daysofweek))

sinmoyDict = {}
for idx, month in enumerate(monthsofyear):
    sinmoyDict[month]=np.sin((2*np.pi*idx)/len(monthsofyear))

cosmoyDict = {}
for idx, month in enumerate(monthsofyear):
    cosmoyDict[month]=np.cos((2*np.pi*idx)/len(monthsofyear))
    
datetimedf2 = datetimedf
datetimedf2['DayT'] = datetimedf2['date'].dt.day_name()
datetimedf2['MonthT'] = datetimedf2['date'].dt.month_name()
    
# Hour of day
datetimedf2['sinHod'] = np.round(np.sin((2*np.pi*(datetimedf2['Hour'])/24)),7)
datetimedf2['cosHod'] = np.round(np.cos((2*np.pi*(datetimedf2['Hour'])/24)),7)

# Hour of half day (12h)
datetimedf2['sinHohd'] = np.round(np.sin((2*np.pi*(datetimedf2['Hour'])/12)),7)
datetimedf2['cosHohd'] = np.round(np.cos((2*np.pi*(datetimedf2['Hour'])/12)),7)

# Minute of Hour
datetimedf2['sinMoH'] = np.round(np.sin((2*np.pi*(datetimedf2['Minutes'])/60)),7)
datetimedf2['cosMoH'] = np.round(np.cos((2*np.pi*(datetimedf2['Minutes'])/60)),7)

# Minute of day
datetimedf2['sinMoD'] = np.round(np.sin((2*np.pi*(datetimedf2['Hour']*60+datetimedf2['Minutes'])/1440)),7)
datetimedf2['cosMoD'] = np.round(np.cos((2*np.pi*(datetimedf2['Hour']*60+datetimedf2['Minutes'])/1440)),7)

# DayName of week
datetimedf2['sinDow'] = np.round(datetimedf2['DayT'].map(sindowDict),7)              # angle represents periodic sin of Day of week!
datetimedf2['cosDow'] = np.round(datetimedf2['DayT'].map(cosdowDict),7)


# Day of Month
datetimedf2['sinDoM28'] = np.round(datetimedf2['Month'].map(sinDoMDict28),7)
datetimedf2['cosDoM28'] = np.round(datetimedf2['Month'].map(cosDoMDict28),7)
datetimedf2['sinDoM30'] = np.round(datetimedf2['Month'].map(sinDoMDict30),7)
datetimedf2['cosDoM30'] = np.round(datetimedf2['Month'].map(cosDoMDict30),7)
datetimedf2['sinDoM31'] = np.round(datetimedf2['Month'].map(sinDoMDict31),7)
datetimedf2['cosDoM31'] = np.round(datetimedf2['Month'].map(cosDoMDict31),7)

# Month of Year
datetimedf2['sinMoy'] = datetimedf2['MonthT'].map(sinmoyDict)
datetimedf2['cosMoy'] = datetimedf2['MonthT'].map(cosmoyDict)

# Year of Decade
datetimedf2['sinYoD'] = np.round(np.sin((2*np.pi*(datetimedf2['Year']%10)/10)),7)
datetimedf2['cosYoD'] = np.round(np.cos((2*np.pi*(datetimedf2['Year']%10)/10)),7)
datetimedf2 = datetimedf2.drop(columns=['date', 'time', 'Hour', 'Minutes', 'Day', 'Month', 'DayT', 'MonthT', 'Year'])
print(datetimedf2.columns)
datetimedf2.head()

Index(['id', 'sinHod', 'cosHod', 'sinHohd', 'cosHohd', 'sinMoH', 'cosMoH',
       'sinMoD', 'cosMoD', 'sinDow', 'cosDow', 'sinDoM28', 'cosDoM28',
       'sinDoM30', 'cosDoM30', 'sinDoM31', 'cosDoM31', 'sinMoy', 'cosMoy',
       'sinYoD', 'cosYoD'],
      dtype='object')

,id,sinHod,cosHod,sinHohd,cosHohd,sinMoH,cosMoH,sinMoD,cosMoD,sinDow,...,sinDoM28,cosDoM28,sinDoM30,cosDoM30,sinDoM31,cosDoM31,sinMoy,cosMoy,sinYoD,cosYoD
0,1,0.000000,-1.000000,-0.000000,1.000000,0.0,-1.0,-0.130526,-0.991445,0.781832,...,0.62349,0.781832,0.587785,0.809017,0.571268,0.820763,0.866025,0.5,0.951056,-0.309017
1,2,-0.258819,-0.965926,0.500000,0.866025,0.0,1.0,-0.258819,-0.965926,0.781832,...,0.62349,0.781832,0.587785,0.809017,0.571268,0.820763,0.866025,0.5,0.951056,-0.309017
2,3,-0.258819,-0.965926,0.500000,0.866025,0.0,-1.0,-0.382683,-0.923879,0.781832,...,0.62349,0.781832,0.587785,0.809017,0.571268,0.820763,0.866025,0.5,0.951056,-0.309017
3,4,-0.965926,0.258819,-0.500000,-0.866025,0.0,-1.0,-0.923879,0.382683,0.781832,...,0.62349,0.781832,0.587785,0.809017,0.571268,0.820763,0.866025,0.5,0.951056,-0.309017
4,5,-0.866025,0.500000,-0.866025,-0.500000,0.0,1.0,-0.866025,0.500000,0.781832,...,0.62349,0.781832,0.587785,0.809017,0.571268,0.820763,0.866025,0.5,0.951056,-0.309017

In [17]:
# import pandas as pd
# import numpy as np
# import os
# from numpy import random as nprandom
# import random
# import time

# start = time.time()

# datasize = 1000
# outputPath = os.path.join('..', 'features')
# winNoCols = ['WinNo1', 'WinNo2', 'WinNo3', 'WinNo4', 'WinNo5', 'WinNo6', 'WinNo7',
#         'WinNo8', 'WinNo9', 'WinNo10', 'WinNo11', 'WinNo12']

# daysofweek = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
# monthsofyear = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August',
#                 'September', 'October', 'November', 'December']

# sindowDict = {}
# for idx, day in enumerate(daysofweek):
#     sindowDict[day]=np.sin((2*np.pi*idx)/len(daysofweek))

# cosdowDict = {}
# for idx, day in enumerate(daysofweek):
#     cosdowDict[day]=np.cos((2*np.pi*idx)/len(daysofweek))

# sinmoyDict = {}
# for idx, month in enumerate(monthsofyear):
#     sinmoyDict[month]=np.sin((2*np.pi*idx)/len(monthsofyear))

# cosmoyDict = {}
# for idx, month in enumerate(monthsofyear):
#     cosmoyDict[month]=np.cos((2*np.pi*idx)/len(monthsofyear))


# def create_random_df(n):
#     return pd.DataFrame({"Hour": nprandom.randint(low=0, high=24, size=(n,)),
#                          "Minutes": nprandom.randint(low=0, high=60, size=(n,)),
#                          "Day": random.choices(daysofweek, k=n),
#                          "Month": random.choices(monthsofyear, k=n),
#                          "Year": nprandom.randint(low=1999, high=2015, size=(n,))})

# def generateWinningNumbers():
#     winNumbers = random.sample(range(1, 80), 12)
#     winNumbers.sort()
#     return winNumbers


# df = create_random_df(datasize)
# df['id'] = list(range(datasize))
# df['WinNo1'], df['WinNo2'], df['WinNo3'], df['WinNo4'], \
#             df['WinNo5'], df['WinNo6'], df['WinNo7'], df['WinNo8'], df['WinNo9'], \
#             df['WinNo10'], df['WinNo11'], df['WinNo12'] = zip(*df.apply(lambda row: generateWinningNumbers(), axis=1))

# # Hour of day
# df['sinHod'] = np.round(np.sin((2*np.pi*(df['Hour'])/24)),7)
# df['cosHod'] = np.round(np.cos((2*np.pi*(df['Hour'])/24)),7)

# # Hour of half day (12h)
# df['sinHohd'] = np.round(np.sin((2*np.pi*(df['Hour'])/12)),7)
# df['cosHohd'] = np.round(np.cos((2*np.pi*(df['Hour'])/12)),7)

# # Minute of Hour
# df['sinMoH'] = np.round(np.sin((2*np.pi*(df['Minutes'])/60)),7)
# df['cosMoH'] = np.round(np.cos((2*np.pi*(df['Minutes'])/60)),7)

# # Minute of day
# df['sinMoD'] = np.round(np.sin((2*np.pi*(df['Hour']*60+df['Minutes'])/1440)),7)
# df['cosMoD'] = np.round(np.cos((2*np.pi*(df['Hour']*60+df['Minutes'])/1440)),7)

# # Day of week
# df['sinDow'] = np.round(df['Day'].map(sindowDict),7)              # angle represents periodic sin of Day of week!
# df['cosDow'] = np.round(df['Day'].map(cosdowDict),7)

# # 'day of month' we need the actual date!
# # ...

# # Month of Year
# df['sinMoy'] = df['Month'].map(sinmoyDict)
# df['cosMoy'] = df['Month'].map(cosmoyDict)

# # Year of Decade
# df['sinYoD'] = np.round(np.sin((2*np.pi*(df['Year']%10)/10)),7)
# df['cosYoD'] = np.round(np.cos((2*np.pi*(df['Year']%10)/10)),7)
# # df = df[['id','Hour', 'sinHod', 'cosHod', 'sinHohd', 'cosHohd','Minutes', 'sinMoH', 'cosMoH', 
# #          'sinMoD', 'cosMoD','Day', 'sinDow', 'cosDow', 'Month', 'sinMoy', 'cosMoy', 'Year', 
# #          'sinYoD', 'cosYoD', 'WinNo1', 'WinNo2', 'WinNo3', 'WinNo4', 'WinNo5', 'WinNo6', 'WinNo7',
# #         'WinNo8', 'WinNo9', 'WinNo10', 'WinNo11', 'WinNo12']]


# # for 'day in month' we need the actual date!
# #   also for 'week of month'

# end = time.time()
# elapsed = round(end-start,3)
# print("Elapsed time: "+str(elapsed)+" seconds")
# df.head()

# Investigate values

In [18]:
temp = datetimedf2 #.drop(columns=['id', 'Hour', 'Minutes', 'Day', 'Month', 'Year'])
temp.describe()

,id,sinHod,cosHod,sinHohd,cosHohd,sinMoH,cosMoH,sinMoD,cosMoD,sinDow,...,sinDoM28,cosDoM28,sinDoM30,cosDoM30,sinDoM31,cosDoM31,sinMoy,cosMoy,sinYoD,cosYoD
count,827559.000000,827559.000000,827559.000000,827559.000000,827559.000000,827559.000000,827559.000000,827559.000000,827559.000000,827559.000000,...,827559.000000,827559.000000,827559.000000,827559.000000,827559.000000,827559.000000,8.275590e+05,8.275590e+05,827559.000000,827559.000000
mean,413698.126856,-0.442464,-0.368350,-0.081902,0.026701,0.000005,0.007164,-0.482488,-0.312621,-0.006904,...,0.720880,0.080884,0.741517,0.157201,0.747681,0.193145,4.879601e-03,-1.106862e-03,-0.171340,-0.028046
std,238879.728098,0.539329,0.614548,0.685091,0.723347,0.704021,0.710144,0.494821,0.651633,0.708999,...,0.244464,0.643449,0.240113,0.606454,0.242179,0.587382,7.050720e-01,7.091189e-01,0.682527,0.709940
min,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-0.974928,...,0.222521,-0.900969,0.207912,-0.809017,0.201298,-0.758758,-1.000000e+00,-1.000000e+00,-0.951056,-1.000000
25%,206797.500000,-0.965926,-0.965926,-0.866025,-0.866025,-0.500000,-0.500000,-0.923879,-0.923879,-0.781832,...,0.433884,-0.623490,0.587785,-0.500000,0.651373,-0.440394,-5.000000e-01,-8.660254e-01,-0.951056,-0.809017
50%,413687.000000,-0.707107,-0.707107,0.000000,0.000000,0.000000,0.000000,-0.642788,-0.555570,0.000000,...,0.781832,0.222521,0.866025,0.309017,0.848644,0.347305,1.224647e-16,-1.836970e-16,-0.587785,-0.309017
75%,620577.500000,0.000000,0.258819,0.500000,0.866025,0.500000,0.866025,-0.130526,0.279829,0.781832,...,0.974928,0.623490,0.951056,0.669131,0.937752,0.688967,8.660254e-01,8.660254e-01,0.587785,0.809017
max,827467.000000,0.707107,0.965926,1.000000,1.000000,1.000000,1.000000,0.707107,0.999762,0.974928,...,1.000000,0.974928,0.994522,0.978148,0.998717,0.979530,1.000000e+00,1.000000e+00,0.951056,1.000000

# Add exp and squared Transformations

In [29]:
#df3 = df.copy()
relCols = [col for col in datetimedf2.columns if col not in winCols]

for col in relCols:
    datetimedf2['e_'+col] = np.round(np.exp(datetimedf2[col]),7)
    datetimedf2['sq_'+col] = np.round(np.square(datetimedf2[col]),7)     # when x in [-1,+1], log function is -inf

print(datetimedf2.shape)
datetimedf2.head()

c:\users\giorg\appdata\local\programs\python\python37\lib\site-packages\pandas\core\series.py:853: RuntimeWarning: overflow encountered in square
  result = getattr(ufunc, method)(*inputs, **kwargs)

(827559, 315)

,id,sinHod,cosHod,sinHohd,cosHohd,sinMoH,cosMoH,sinMoD,cosMoD,sinDow,...,e_sq_cosId%43,sq_sq_cosId%43,e_e_sinId%47,sq_e_sinId%47,e_e_cosId%47,sq_e_cosId%47,e_sq_sinId%47,sq_sq_sinId%47,e_sq_cosId%47,sq_sq_cosId%47
0,1,0.000000,-1.000000,-0.000000,1.000000,0.0,-1.0,-0.130526,-0.991445,0.781832,...,2.661262,0.958050,3.134839,1.305484,14.792729,7.258368,1.017924,0.000316,2.670417,0.964785
1,2,-0.258819,-0.965926,0.500000,0.866025,0.0,1.0,-0.258819,-0.965926,0.781832,...,2.501771,0.840887,3.678050,1.696201,13.782433,6.882200,1.072293,0.004872,2.535018,0.865274
2,3,-0.258819,-0.965926,0.500000,0.866025,0.0,-1.0,-0.382683,-0.923879,0.781832,...,2.270128,0.672132,4.382222,2.183171,12.316277,6.304728,1.164630,0.023227,2.334030,0.718419
3,4,-0.965926,0.258819,-0.500000,-0.866025,0.0,-1.0,-0.923879,0.382683,0.781832,...,2.004816,0.483793,5.283838,2.771069,10.634569,5.589016,1.296553,0.067449,2.096545,0.548031
4,5,-0.866025,0.500000,-0.866025,-0.500000,0.0,1.0,-0.866025,0.500000,0.781832,...,1.741393,0.307676,6.413872,3.453886,8.952808,4.804720,1.468277,0.147525,1.851341,0.379345

# ContestId Features

In [20]:
primenumbers = [7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

start = time.time()

for primeno in primenumbers:
    datetimedf2['sinId%'+str(primeno)] = np.round(np.sin(2*np.pi*(datetimedf2['id']%primeno)/primeno),7)
    datetimedf2['cosId%'+str(primeno)] = np.round(np.cos(2*np.pi*(datetimedf2['id']%primeno)/primeno),7)

    datetimedf2['e_sinId%'+str(primeno)] = np.round(np.exp(datetimedf2['sinId%'+str(primeno)]),7)
    datetimedf2['e_cosId%'+str(primeno)] = np.round(np.exp(datetimedf2['cosId%'+str(primeno)]),7)

    datetimedf2['sq_sinId%'+str(primeno)] = np.round(np.square(datetimedf2['sinId%'+str(primeno)]),7)
    datetimedf2['sq_cosId%'+str(primeno)] = np.round(np.square(datetimedf2['cosId%'+str(primeno)]),7)

end = time.time()
elapsed = round(end-start,3)
print("Elapsed time: "+str(elapsed)+" seconds")
print(datetimedf2.shape)
datetimedf2.head(15)

Elapsed time: 3.219 seconds
(827559, 135)

,id,sinHod,cosHod,sinHohd,cosHohd,sinMoH,cosMoH,sinMoD,cosMoD,sinDow,...,e_sinId%43,e_cosId%43,sq_sinId%43,sq_cosId%43,sinId%47,cosId%47,e_sinId%47,e_cosId%47,sq_sinId%47,sq_cosId%47
0,1,0.000000,-1.000000,-0.000000,1.000000,0.0,-1.0,-0.130526,-0.991445,0.781832,...,1.156735,2.689468,0.021200,0.978800,0.133287,0.991077,1.142578,2.694136,0.017765,0.982235
1,2,-0.258819,-0.965926,0.500000,0.866025,0.0,1.0,-0.258819,-0.965926,0.781832,...,1.333889,2.605437,0.083001,0.916999,0.264195,0.964469,1.302383,2.623395,0.069799,0.930201
2,3,-0.258819,-0.965926,0.500000,0.866025,0.0,-1.0,-0.382683,-0.923879,0.781832,...,1.528760,2.473040,0.180164,0.819836,0.390389,0.920650,1.477556,2.510922,0.152404,0.847596
3,4,-0.965926,0.258819,-0.500000,-0.866025,0.0,-1.0,-0.923879,0.382683,0.781832,...,1.736320,2.302505,0.304448,0.695552,0.509617,0.860402,1.664653,2.364110,0.259709,0.740291
4,5,-0.866025,0.500000,-0.866025,-0.500000,0.0,1.0,-0.866025,0.500000,0.781832,...,1.949005,2.105962,0.445314,0.554686,0.619750,0.784799,1.858463,2.191967,0.384090,0.615910
5,6,-0.866025,0.500000,-0.866025,-0.500000,0.0,-1.0,-0.793353,0.608761,0.781832,...,2.156846,1.895861,0.590818,0.409181,0.718824,0.695192,2.052018,2.004095,0.516707,0.483293
6,7,0.000000,-1.000000,-0.000000,1.000000,0.0,-1.0,-0.130526,-0.991445,-0.433884,...,2.348069,1.683610,0.728621,0.271379,0.805070,0.593180,2.236853,1.809734,0.648138,0.351862
7,8,-0.258819,-0.965926,0.500000,0.866025,0.0,1.0,-0.258819,-0.965926,-0.433884,...,2.510159,1.478613,0.847037,0.152963,0.876950,0.480582,2.403557,1.617015,0.769041,0.230959
8,9,-0.258819,-0.965926,0.500000,0.866025,0.0,-1.0,-0.382683,-0.923879,-0.433884,...,2.631315,1.287797,0.936025,0.063975,0.933181,0.359408,2.542583,1.432481,0.870826,0.129174
9,10,-0.965926,0.258819,-0.500000,-0.866025,0.0,-1.0,-0.923879,0.382683,-0.433884,...,2.702024,1.115576,0.988038,0.011962,0.972759,0.231820,2.645232,1.260893,0.946260,0.053741
10,11,-0.866025,0.500000,-0.866025,-0.500000,0.0,1.0,-0.866025,0.500000,-0.433884,...,2.716469,0.964137,0.998666,0.001334,0.994978,0.100096,2.704664,1.105277,0.989981,0.010019
11,12,-0.866025,0.500000,-0.866025,-0.500000,0.0,-1.0,-0.793353,0.608761,-0.433884,...,2.673439,0.833904,0.967008,0.032992,0.999442,-0.033415,2.716764,0.967137,0.998884,0.001117
12,13,0.000000,-1.000000,-0.000000,1.000000,0.0,-1.0,-0.130526,-0.991445,-0.781832,...,2.576520,0.724060,0.895748,0.104252,0.986070,-0.166329,2.680680,0.846767,0.972335,0.027665
13,14,-0.258819,-0.965926,0.500000,0.866025,0.0,1.0,-0.258819,-0.965926,-0.781832,...,2.433528,0.633027,0.790929,0.209070,0.955102,-0.296276,2.598937,0.743583,0.912221,0.087779
14,15,-0.258819,-0.965926,0.500000,0.866025,0.0,-1.0,-0.382683,-0.923879,-0.781832,...,2.255315,0.558859,0.661440,0.338560,0.907091,-0.420935,2.477106,0.656433,0.822814,0.177186

# Drop Unnecessary Features

In [40]:
datetimedf2.head()

,id,sinHod,cosHod,sinHohd,cosHohd,sinMoH,cosMoH,sinMoD,cosMoD,sinDow,...,sinDoM28,cosDoM28,sinDoM30,cosDoM30,sinDoM31,cosDoM31,sinMoy,cosMoy,sinYoD,cosYoD
0,1,0.000000,-1.000000,-0.000000,1.000000,0.0,-1.0,-0.130526,-0.991445,0.781832,...,0.62349,0.781832,0.587785,0.809017,0.571268,0.820763,0.866025,0.5,0.951056,-0.309017
1,2,-0.258819,-0.965926,0.500000,0.866025,0.0,1.0,-0.258819,-0.965926,0.781832,...,0.62349,0.781832,0.587785,0.809017,0.571268,0.820763,0.866025,0.5,0.951056,-0.309017
2,3,-0.258819,-0.965926,0.500000,0.866025,0.0,-1.0,-0.382683,-0.923879,0.781832,...,0.62349,0.781832,0.587785,0.809017,0.571268,0.820763,0.866025,0.5,0.951056,-0.309017
3,4,-0.965926,0.258819,-0.500000,-0.866025,0.0,-1.0,-0.923879,0.382683,0.781832,...,0.62349,0.781832,0.587785,0.809017,0.571268,0.820763,0.866025,0.5,0.951056,-0.309017
4,5,-0.866025,0.500000,-0.866025,-0.500000,0.0,1.0,-0.866025,0.500000,0.781832,...,0.62349,0.781832,0.587785,0.809017,0.571268,0.820763,0.866025,0.5,0.951056,-0.309017

# Merge

In [44]:
totaldf = winNumbersDf.join(datetimedf2, how='outer')
print(totaldf.shape)
totaldf.head()

(827559, 41)

,WinNo1,WinNo2,WinNo3,WinNo4,WinNo5,WinNo6,WinNo7,WinNo8,WinNo9,WinNo10,...,sinDoM28,cosDoM28,sinDoM30,cosDoM30,sinDoM31,cosDoM31,sinMoy,cosMoy,sinYoD,cosYoD
0,2,5,7,8,22,33,38,44,46,52,...,0.62349,0.781832,0.587785,0.809017,0.571268,0.820763,0.866025,0.5,0.951056,-0.309017
1,1,9,11,14,33,37,41,42,43,44,...,0.62349,0.781832,0.587785,0.809017,0.571268,0.820763,0.866025,0.5,0.951056,-0.309017
2,1,2,5,8,13,16,19,21,34,38,...,0.62349,0.781832,0.587785,0.809017,0.571268,0.820763,0.866025,0.5,0.951056,-0.309017
3,1,3,6,12,17,24,25,26,40,43,...,0.62349,0.781832,0.587785,0.809017,0.571268,0.820763,0.866025,0.5,0.951056,-0.309017
4,6,7,8,21,30,32,35,37,39,40,...,0.62349,0.781832,0.587785,0.809017,0.571268,0.820763,0.866025,0.5,0.951056,-0.309017

# Save features

In [84]:
if not os.path.exists(outputPath):
    os.mkdir(outputPath)
    
df.to_csv(os.path.join(outputPath, "features.csv"), index=False)
df.head()

,id,WinNo1,WinNo2,WinNo3,WinNo4,WinNo5,WinNo6,WinNo7,WinNo8,WinNo9,...,e_sinId%43,e_cosId%43,sq_sinId%43,sq_cosId%43,sinId%47,cosId%47,e_sinId%47,e_cosId%47,sq_sinId%47,sq_cosId%47
0,0,7,12,18,29,30,31,35,36,45,...,1.000000,2.718282,0.000000,1.000000,0.000000,1.000000,1.000000,2.718282,0.000000,1.000000
1,1,19,21,22,36,37,41,42,46,58,...,1.156735,2.689468,0.021200,0.978800,0.133287,0.991077,1.142578,2.694136,0.017765,0.982235
2,2,4,10,16,19,22,29,34,49,52,...,1.333889,2.605437,0.083001,0.916999,0.264195,0.964469,1.302383,2.623395,0.069799,0.930201
3,3,5,16,20,21,22,34,38,50,51,...,1.528760,2.473040,0.180164,0.819836,0.390389,0.920650,1.477556,2.510922,0.152404,0.847596
4,4,4,9,11,12,21,34,41,42,48,...,1.736320,2.302505,0.304448,0.695552,0.509617,0.860402,1.664653,2.364110,0.259709,0.740291