In [29]:
import pandas as pd
import os

datapath = './data'

# 1 Join all Files together

In [56]:
def walk_through_files(path, file_extension=('.xlsx')):                # can check for both if tuple!
    for (dirpath, dirnames, filenames) in os.walk(path):
        for filename in filenames:
            if filename.endswith(file_extension): 
                yield os.path.join(dirpath, filename).replace("\\","/")        # ensure right backslashes (Windows)!
                
def generateList(directory):
    print("Generating List of documents in parent folder...")
    documentsList = []                            
    for fname in walk_through_files(directory):
        #print(fname)
        documentsList.append(fname)
    return documentsList

# Generate Dataset from individual Files

# mylist = generateList(datapath)
# finaldf = pd.DataFrame()
# for excelpart in mylist:
#     date = excelpart.split('/')[-1][:-5].replace('kino_','')           # retrieve year_month of file 
#     if date<'2010_11':           # after this date file format changes
#         df = pd.read_excel(excelpart, header = 1).sort_values(by=['Αριθμός Κλήρωσης'])   
#     else:
#         df = pd.read_excel(excelpart, header = 2).sort_values(by=['Αριθμός Κλήρωσης'])  
#     df = df[['Αριθμός Κλήρωσης', 'Ημ/νία Κλήρωσης', 'Ώρα Κλήρωσης', '1ος ', '2ος ',       # discard extra columns
#        '3ος ', '4ος ', '5ος ', '6ος ', '7ος ', '8ος ', '9ος ', '10ος ',
#        '11ος ', '12ος ', '13ος ', '14ος ', '15ος ', '16ος ', '17ος ', '18ος ',
#        '19ος ', '20ος ']]
#     finaldf = finaldf.append(df)
# finaldf.to_csv('./allDraws.csv')

# Load directly

finaldf = pd.read_csv('./allDraws.csv')
print(finaldf.shape)  
finaldf.head()

Generating List of documents in parent folder...

,Αριθμός Κλήρωσης,Ημ/νία Κλήρωσης,Ώρα Κλήρωσης,1ος,2ος,3ος,4ος,5ος,6ος,7ος,...,11ος,12ος,13ος,14ος,15ος,16ος,17ος,18ος,19ος,20ος
1091,1,2003-03-11 00:00:00,12:30:00,38,44,63,46,78,66,2,...,33,22,58,74,55,52,62,56,7,72
1090,2,2003-03-11 00:00:00,13:00:00,45,42,43,60,11,44,72,...,37,65,14,51,73,33,1,80,71,9
1089,3,2003-03-11 00:00:00,13:30:00,21,66,51,62,53,34,73,...,64,16,19,5,2,1,8,56,13,45
1088,4,2003-03-11 00:00:00,19:30:00,54,80,57,67,63,25,24,...,12,40,43,79,3,59,61,17,26,1
1087,5,2003-03-11 00:00:00,20:00:00,39,37,61,58,73,48,40,...,64,8,6,71,66,21,7,35,46,30