In [1]:
import datetime as dt

In [4]:
import random
import pandas as pd
import numpy as np
import os
import time
from numpy import random as nprandom

def create_random_df(n):
    return pd.DataFrame({"Col1": nprandom.randint(low=0, high=3000, size=(n,)),
                         "Col2": nprandom.randint(low=0, high=60, size=(n,))})



df = create_random_df(1000000)
df.head()

   Col1  Col2
0  1569    13
1  2052    45
2  1162     5
3   791    39
4  1554    28

# Example 1

In [18]:
def calculateNewColumn(value):
    if value%2==0:
        return 1
    else:
        return 0
    
start = time.time()

df['newCol'] = df.apply(lambda row: calculateNewColumn(row['Col2']),axis=1)

end = time.time()
elapsed = round(end-start,3)
print("Elapsed time with pandas apply: "+str(elapsed)+" seconds")

Elapsed time with pandas apply: 9.721 seconds

In [21]:
def calculateNewColumn(value):
    if value%2==0:
        return 1
    else:
        return 0
    
start = time.time()

df['newCol'] = np.apply_along_axis(calculateNewColumn, axis=1, arr=np.array(df['Col2']).reshape(len(df['Col2']),1))

end = time.time()
elapsed = round(end-start,3)
print("Elapsed time with np apply along axis: "+str(elapsed)+" seconds")
df.head()

Elapsed time with np apply along axis: 3.209 seconds

   Col1  Col2  newCol
0  1569    13       0
1  2052    45       0
2  1162     5       0
3   791    39       0
4  1554    28       1

# Example 2

In [ ]:
def calculateNewColumn(value):
    if value%2==0:
        return 1
    else:
        return 0
    
start = time.time()

df['newCol'] = df.apply(lambda row: calculateNewColumn(row['Col2']),axis=1)

end = time.time()
elapsed = round(end-start,3)
print("Elapsed time with pandas apply: "+str(elapsed)+" seconds")

In [ ]:
def calculateNewColumn(value):
    if value%2==0:
        return 1
    else:
        return 0
    
start = time.time()

df['newCol'] = np.apply_along_axis(calculateNewColumn, axis=1, arr=np.array(df['Col2']).reshape(len(df['Col2']),1))

end = time.time()
elapsed = round(end-start,3)
print("Elapsed time with np apply along axis: "+str(elapsed)+" seconds")
df.head()